.navbar {
    background: #dbdbdb none repeat scroll 0 0;
}
.no-skin .nav-list > li.active > a {
    font-weight: 700;
    color: #fff;
}
.no-skin .nav-list > li {
    border-color: #222222;
}
.no-skin .nav-list > li .submenu {
    background-color: #333333;
    border-color: #333333;
}
.ace-nav > li.light-blue > a {
    background-color: #333333;
}
.sidebar::before {
    background-color: #222222;    
}
.no-skin .nav-list > li > a {
    background-color: #222222;
    color: #ffffff;
}
.no-skin .sidebar-toggle {
    background-color: #222222;
    border-color: #222222;
}
.no-skin .nav-list > li.open{
    background-color: #333333;
}
.no-skin .nav-list > li > .submenu::before, .no-skin .nav-list > li > .submenu > li::before {
    border-color: transparent;
}
.no-skin .nav-list > li .submenu > li > a {
    background-color: #333333;
    border-top-color: #333333;
    color: #cacaca;
}
.no-skin .nav-list > li .submenu > li > a:hover {
    background-color: transparent;
    color: #ffffff;
}
.no-skin .nav-list .open > a, .no-skin .nav-list .open > a:hover, .no-skin .nav-list .open > a:focus {
    background-color: #1e789a;
}
.no-skin .nav-list > li.open > a {
    background-color: #1e789a;
    color: #ffffff;
}
.no-skin .nav-list > li:hover > a {
    background-color: #1e789a;
    color: #ffffff;
}
.nav-list > li::before {
    background-color: #333333;
}
.no-skin .nav-list > li > a:focus {
    background-color: #222222;
    color: #ffffff;
}
.no-skin .nav-list > li.highlight.active::before {
    background-color: #222222;
}
.no-skin .nav-list > li.highlight.active > a {
    background-color: #1e789a !important;
}
.no-skin .nav-list > li.highlight:hover, .no-skin .nav-list > li.highlight.active {
    border-color: transparent;
}
.navbar .navbar-brand {    
    font-size: 19px;
}
.btn-info, .btn-info:focus {
    background-color: #222222 !important;
    border-color: #222222;
}
.pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #222222;
    border-color: #222222;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.pagination > li > a, .pager > li > a {
    background-color: #fafafa;
    border-color: #d4dfe3;
    color: #222222;
}
.btn-info:hover, .btn-info:active, .open > .btn-info.dropdown-toggle {
    background-color: #1e789a !important;
    border-color: #1e789a;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a {
    background: #1e789a none repeat scroll 0 0;
    color: #fff;
}
.no-skin .nav-list > li.highlight:hover > a, .no-skin .nav-list > li.highlight.active > a {
    background-color: #fff;
}
.no-skin .sidebar.menu-min .nav-list > li > a > .menu-text {
    background-color: #1e789a;
    border-color: #ccc;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.no-skin .nav-list > li .submenu > li > a:hover {
    background-color: #1e789a;
    color: #ffffff;
}